<div class='container'>
  <div class="welcome">
    <h1>Welcome to the Shopping Basket Application</h1>
    <p class="lead">
    This application allows you to manage create baskets and add and remove items from a basket.
    </p>

    <ul class="list-group ">
      <li class="list-group-item ">There are <%= @baskets.count %> baskets</li>
      <li class="list-group-item ">There are <%= @items.count %> items</li>
    </ul>
  </div>
</div>
